<div class="container" [ngStyle]="{'background-color':'transparent'}">
  <ng-progress></ng-progress>
  <h1 [ngStyle]="{'text-align':'center'}">My Goals</h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      
      <blockquote class="blockquote text-center">
        <p class="mb-0">{{quote.quote}}</p>
        <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
      </blockquote>
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h6 appStrikethrough>
            {{goal.name}} due on {{goal.completeDate|date|titlecase}}
          </h6>
          
          <button (click)="toggleDetails(i)">Toggle Details</button>
          <app-goal-detail *ngIf='goal.showDescription'
          [goal]='goal' (isComplete) = 'deleteGoal($event,i)'>
       </app-goal-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>
  </div>
  <h6><p *ngIf='goals.length > 1'>We are past the ambitious lies</p></h6>
  
</div>
