.containerDeux {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("https://bit.ly/2wkOrOc");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: large;
  height: 800px;
  font-size: larger;
}